/* CSS file */

WindowedApplication{
	fontFamily: Arial;
	borderStyle: none; 
	backgroundAlpha: 0;
	modalTransparency: 0;
	modalTransparencyBlur: 5;
}

WindowedApplication, Window {
	color: #333;	
}

.mainScreen
{
	borderStyle: none;
}

/* Debug Panel */

DebugPanel {
	paddingTop: 10; paddingBottom: 20;
	paddingLeft: 10; paddingRight: 10;
	borderStyle: none; 
	backgroundAlpha: 0;
}

.debugHeader {
	backgroundSize: "100%";
}

.debugBody {
	backgroundSize: "100%";
}

.debugButtonBar {
	horizontalGap: 0;
	bottom: 24;
}

.buttonVertical, .buttonHorizontal, .buttonRotateC, .buttonRotateCCW,
.buttonNitobi, .buttonPhoneGap, .buttonVibe, .buttonSound, .buttonCamera, 
.buttonMenu, .buttonMap, .buttonGo, .buttonFile, .buttonFireBug {
	skin: ClassReference(null);
}

.buttonVertical {
	icon: Embed( "assets/debug/icon_vertical.png"); 		
}

.buttonHorizontal {
	icon: Embed( "assets/debug/icon_horizontal.png"); 		
}

.buttonRotateC {
	icon: Embed( "assets/debug/icon_rotate_c.png"); 	
}

.buttonRotateCCW {
	icon: Embed( "assets/debug/icon_rotate_ccw.png"); 	
}

.buttonVibe {
	icon: Embed( "assets/debug/icon_vibe.png"); 	
}

.buttonSound {
	icon: Embed( "assets/debug/icon_sound.png"); 	
}

.buttonCamera {
	icon: Embed( "assets/debug/icon_camera.png"); 	
}

.buttonMap {
	icon: Embed( "assets/debug/icon_map.png"); 	
}

.buttonNitobi {
	icon: Embed( "assets/debug/logo_nitobi.png"); 	
}

.buttonGo {
	icon: Embed( "assets/debug/icon_go.png"); 	
}

.buttonFile {
	icon: Embed( "assets/debug/icon_file.png"); 	
}

.buttonFireBug {
	icon: Embed( "assets/debug/icon_firebug.png"); 	
}

.buttonPhoneGap {
	icon: Embed( "assets/debug/logo_phonegap.png"); 	
}


.buttonClose {
	top: 6;	left: 6;
	skin: Embed( "assets/debug/button_close.png"); 
	overSkin: Embed( "assets/debug/button_close_over.png"); 
}

.buttonMenu {
	skin: Embed( "assets/debug/button_menu.png"); 
}

.labelWhite {
	color: #fff;
}
